@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";



* {
  box-sizing: border-box;
}

@layer theme, base, components, utilities;

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;


}

@layer components {
  body {
    background: #f5f5fd !important;
    overflow-x: hidden !important;
  }

  .nav-x:hover {
    color: var(--color-accent-500);
  }


  /* Make the table scrollable horizontally on small screens */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.font-bold{
  font-weight: 700;
}
/* Ensure that the table fits within the screen on small devices */
@media (max-width: 768px) {
  .mantine-Table {
    width: 100%;
    font-size: 12px;
  }

  .mantine-Table td, .mantine-Table th {
    padding: 8px;
  }

  .mantine-Table .mantine-TableTh, .mantine-Table .mantine-TableTd {
    word-wrap: break-word;
    white-space: normal;
  }
}



}